.navbar{
    background-color: blue  !important;
    color: white !important;
    height: 3em !important;
    display: flex !important;
    align-items: center !important;
    font-family: 'Raleway', sans-serif, !important;
}