<head>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<div class="content">
  <mat-tab-group class="dev" mat-align-tabs="start">
    <mat-tab  label="Development">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Montreal</mat-card-title>
          <mat-card-subtitle>Development</mat-card-subtitle>
         
        </mat-card-header>
        <img  class=" flag" mat-card-image src="../../../assets/citypopu.jpg" alt="">
        <mat-card-content>
          <p>
            Montreal grew rapidly from 1850 to 1914. The population increased from 44,591 in 1844 to 467,986 in 1911, 528,397 including the suburbs. 
          </p>

          <p>
            This meant that much western grain was shipped overseas through the port of Montreal, which was considerably enlarged at the beginning of the 20th century. 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </mat-tab>


    <mat-tab class="dev" label="Population">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          
          <p> Montreal has had three distinct decades of rapid growth since the mid-19th century: 1851–61, 1901–11 and 1951–61. Demographic growth has largely been the result of an influx of people from outside the city, as the periods of rapid growth coincided with the arrival of large numbers of immigrants. The most significant growth, however, was a result of internal migration, as a significant number of French Canadians and smaller numbers of English-speaking Canadians living in Quebec rural areas moved to the city. Natural growth was also a major contributing factor after the Second World War.d</p>
        </mat-card-header>
        <img class="flag" mat-card-image src="../../../assets/population.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </mat-tab>
    <mat-tab label="Territory and languages">
<mat-card class="example-card">
  <img class="flag" mat-card-image src="../../../assets/laguages.jpg" alt="">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <p>
          Montreal is the cultural centre of Quebec, French-speaking Canada and French-speaking North America as a whole, and an important city in the Francophonie. The majority of the population is francophone. Montreal is the largest French-speaking city in North America, and second in the world after Paris when counting the number of native-language Francophones (third after Paris and Kinshasa when counting second-language speakers). The city is a hub for French language television productions, radio, theatre, circuses, performing arts, film, multimedia and print publishing.
        </p>
      </mat-card-header>
     
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
      
     
    </mat-tab>

    


    
    
    



  </mat-tab-group>


</div>