<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  </head>

<div>
    <mat-grid-list class="turismo" cols="2" rowHeight="2:1">

        <mat-grid-tile class="cuadro">
        <img class="flag" src="../../../assets/oldport.jpg" alt="">
        <button mat-raised-button color="primary">Old Port</button>
        
        </mat-grid-tile>

        <mat-grid-tile class="cuadro">
        <img class="flag" src="../../../assets/olimpic.jpg" alt="">
        <button mat-raised-button color="primary">Olympic S</button>


        </mat-grid-tile>

        <mat-grid-tile class="cuadro">
        <img class="flag" src="../../../assets/montroyal.jpg" alt="">
        <button mat-raised-button color="primary">Mount R</button>
        </mat-grid-tile>
        <mat-grid-tile class="cuadro">
        <img class="flag" src="../../../assets/parc.jpg" alt="">
        <button mat-raised-button color="primary">La Fontaine</button>
       
        </mat-grid-tile>
      </mat-grid-list>

</div>
