<head>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>



<body>
  <div class="cardInicial">
<mat-card class="example-card">
    <mat-card-header>
    
      <mat-card-title>Montreal</mat-card-title>
      <mat-card-subtitle>Quebec</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/city.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Montreal, Quebec, incorporated as a city in 1832, population 1,704,694 (2016 c), 1,649,519 (2011 c). Montreal is Canada’s second largest city and is home to nearly half of the province of Quebec’s population. It is the metropolis of the province and was the most populous city in Canada for a century and a half. It is located in southwestern Quebec on Île de Montreal at the confluence of the St. Lawrence and Ottawa rivers. Montreal is a major industrial centre, commercial and financial metropolis, railway and maritime bridgehead, and one of the centres of francophone culture in North America. It is one of the world's great cities and enjoys international acclaim.
      </p>
    </mat-card-content>
  
  </mat-card>
  </div>
  



</body>